[Desktop Entry]
Version=1.0
Name=OpenSpace
Comment=OpenSpace tool
Exec=run.sh OpenSpace
Icon=OpenSpace
Terminal=true
Type=Application
Categories=Education;Science;
Name[en_IN]=OpenSpace
